# DATA TYPES AND STRUCTURE QUESTIONS.

#Theory questions


1. What are data structures, and why are they important?
-
Data structures are ways of organizing and storing data so that we can use it efficiently. They help in easy access, modification, and management of data. Common ones include arrays, lists, stacks, queues, trees, and graphs. They are important because they make our programs more efficient and easier to understand and maintain.

2. Explain the difference between mutable and immutable data types with examples.
-
Mutable data types can be changed after creation, like lists and dictionaries.
Example:

In [1]:
a = [1, 2, 3]
a[0] = 10  # This is allowed

Immutable data types can’t be changed once created, like strings and tuples.
Example:

In [2]:
s = "hello"
# s[0] = 'H'  # This will give an error

3. What are the main differences between lists and tuples in Python?
-

 **Mutability**: Lists are mutable, tuples are not.

    **Syntax**: Lists use [], tuples use ().

     **Performance**: Tuples are slightly faster and use less memory.

     **Use case**: Tuples are preferred when data should not be changed.

4. Describe how dictionaries store data.
-
Dictionaries store data in key-value pairs.

-  Each key maps to a value. Behind the scenes, Python uses a hash table to manage this mapping efficiently.

5. Why might you use a set instead of a list in Python?
-
Sets are used when we need only unique values and don’t care about order. Also, checking membership (in) is faster in sets compared to lists.

6. What is a string in Python, and how is it different from a list?
-
A string is a sequence of characters, while a list can store different data types. Also, strings are immutable; lists are mutable.
Example:

In [3]:
s = "hello"
l = ['h', 'e', 'l', 'l', 'o']

7. How do tuples ensure data integrity in Python?
Since tuples are immutable, their data can’t be changed accidentally. This helps maintain data integrity when you want to make sure the values stay constant.

8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that stores data using a hash function. Python dictionaries use hash tables internally to store and retrieve data quickly by keys.

9. Can lists contain different data types in Python?
Yes, lists in Python are versatile and can hold elements of different types.
Example:

In [4]:
l = [1, "hello", 3.14, True]


10. Explain why strings are immutable in Python.
-
Strings are immutable for efficiency and security. This allows Python to reuse string objects, saving memory and making programs faster.

11. What advantages do dictionaries offer over lists for certain tasks?
-
Dictionaries offer faster lookups (average O(1) time) and better structure when data is naturally organized in key-value pairs, like storing student names and their marks.

12. Describe a scenario where using a tuple would be preferable over a list.
-
When you’re working with fixed data, like coordinates (x, y) or a date (day, month, year), tuples are preferred as they can’t be modified accidentally.

13. How do sets handle duplicate values in Python?
-
Sets automatically remove duplicates.
Example:

In [5]:
s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}

{1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?
-

In lists, in checks if the value exists.

    In dictionaries, in checks for the key, not the value.
Example

In [6]:
x = [1, 2, 3]
print(2 in x)  # True

y = {'a': 10, 'b': 20}
print('a' in y)  # True
print(10 in y)  # False

True
True
False

15. Can you modify the elements of a tuple? Explain why or why not.
-
No, tuples are immutable, so once created, their elements can’t be changed. This helps ensure that the data remains constant throughout the program.

16. What is a nested dictionary, and give an example of its use case.
-
A nested dictionary is a dictionary inside another dictionary.
Example use case: storing student info by ID.

In [7]:
students = {
    101: {"name": "Sanskriti", "age": 21},
    102: {"name": "Shaurya", "age": 22}
}

17. Describe the time complexity of accessing elements in a dictionary.
-
Accessing elements in a dictionary takes O(1) time on average, thanks to the hash table structure.

18. In what situations are lists preferred over dictionaries?
-
When data doesn’t need to be labeled (i.e., no keys) and order matters, lists are preferred. For example, storing a series of steps or numbers.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-
Older versions of Python (<3.7) didn’t maintain insertion order in dictionaries. Even now, order isn’t guaranteed for logic. That’s why you should access data using keys, not positions.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
-

**List**: Data is accessed using index (position).

  **Dictionary**: Data is accessed using keys.
Example:

In [8]:
l = [10, 20]     # l[0] = 10
d = {'a': 10}    # d['a'] = 10

#pratical questions

1. Create a string with your name and print it

In [9]:
name = "Sanskriti Jaiswal"
print(name)

Sanskriti Jaiswal

2. Write a code to find the length of the string "Hello World"

In [10]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [11]:
s = "Python Programming"
print(s[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [12]:
text = "hello"
print(text.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [14]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [15]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [16]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [17]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [18]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [19]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [20]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [21]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [22]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [23]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [24]:
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [25]:
s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [26]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [27]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [28]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [29]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [30]:
info = {
    "name": "Sanskriti",
    "age": 21,
    "city": "Varanasi"
}
print(info)

{'name': 'Sanskriti', 'age': 21, 'city': 'Varanasi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [31]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [32]:
data = {'name': 'Alice', 'age': 30}
print(data['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [33]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [34]:
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [35]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"x": 10, "y": 20}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'x': 10, 'y': 20}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [36]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[2, 36, 54, 57, 70]

28. Write a code to create a list with strings and print the element at the third index.

In [37]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result

In [38]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set

In [39]:
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'cherry', 'apple', 'banana'}